<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chat</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/chat_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/main.css') }}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Glack</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('chat_v1.home') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
          </ul>
          <span class="navbar-text">
            <a href="{{ url_for('chat_v1.logout') }}">Logout</a>
          </span>
        </div>
      </nav>
    <div class="main-content">
        <div class="sidebar">
            <h4>Channels</h4>
            {% for room in rooms %}
            <p class="select-room">#{{ room|title }}</p>
            {% endfor %}
        </div>
        <div class="container">
            <ul id="messages"></ul>
            <div class="message">
                <div class="form-group">
                    <input id="message" type="text" class="form-control" placeholder="Type Message...">
                </div>
                <button id="sendBtn" type="submit" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
    <!-- Get username -->
    <span id="get-username">@{{ username }}</span>

    <script type="text/javascript" charset="utf-8" src="{{ url_for('.static', filename='js/util.js') }}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
        integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8" src="{{ url_for('.static', filename='js/chat.js') }}"></script>
</body>

</html>