.others-msg {
    margin-right:7em;
    margin-left: 1em;
    padding: 0.5em 0.5em 0.5em 1em;
    border-radius: 5px;
    border-color: grey;
    border-width: 0.5px;
    border-style: solid;
    background-color: #C2DBFB;
    /* animation */
    animation-name: fadeIn;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.my-msg {
    margin-left:7em;
    margin-right:1em;
    padding: 0.5em 0.5em 0.5em 1em;
    border-radius: 5px;
    border-color: #9fc1ee;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    /* animation */
    animation-name: fadeIn;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.system-msg {
    margin-right:7em;
    margin-left: 1em;
    padding: 0.5em 0.5em 0.5em 1em;
    color: #656d78;
    font-size:0.9em;
    max-width: 300px;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.timestamp {
    color: #656d78;
    font-size:0.7em;
}

.other-username {
    font-weight: bold;
    font-size: 1.1em;
    color: #206ED2;
}

.my-username {
    font-weight: bold;
    font-size: 1.1em;
    color: #FF6B13;
}

#msg-input {
    border-color: #ffc107;
    border-width: 5px;
}

#get-username {
    display: none !important;
}